@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.app {
  font-family: FontAwesome, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 600px) {
  .app {
    margin: 0 20vw;
  }
}

.app .error {
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: .25em;
  text-align: center;
  padding-top: .25em;
  padding-bottom: .25em;
}

.app form label {
  padding-right: 10px;
}