@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.app {
  font-family: FontAwesome, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 600px) {
  .app {
    margin: 0 20vw;
  }
}

.app .error {
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: .25em;
  text-align: center;
  padding-top: .25em;
  padding-bottom: .25em;
}

.app .warning {
  /* color: #ffffff; */
  background-color: #ffc107;
  border-radius: .25em;
  text-align: center;
  padding-top: .25em;
  padding-bottom: .25em;
}

.app form label :first-child {
  /* padding-right: 10px; */
  margin-left: 5px;
}

.app form label {
  margin-right: 20px;
}

.longterm {

  height: 500px;
}