table {
  /* background-color: rgb(65, 65, 65);
  color:rgb(200, 200, 200); */
  background-color: rgb(227, 227, 227);

  margin: 0 auto;
}

table,
th,
td {
  padding: 4px 8px;
  border: 3px solid white;
  border-collapse: collapse;
  /* text-align: center; */

  font-size: 0.9em;
}

td ol {
  /* remove list bullets and ... */
  list-style: none;
  /* ... space around each list item */
  margin: 0;
  padding: 0;
}

td>ol {
  /* list items next to each other but on next line on viewport widths */
  display: flex;
  flex-wrap: wrap;
}
td>ol>li {
  /* margin around list items (overlaps between list items) */
  margin: 4px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
}

td>ol>li>ol {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
}

td>ol>li>ol>li {
  border-radius: 4px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 0.8em;
  padding: 1px;
  background-color: white;
  margin: 1px 1px;

  color: rgb(94, 94, 94);
}


.individual-performance-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-evenly;
}

.individual-performance-radar {
  max-width: 180px;
  max-height: 180px;
}
